{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename = 'home.css')}}" type="text/css">
{% endblock %}

{% block body %}
<div class="child child4">
    <h3 class="m-2">Add New Employee Page</h3>
</div>

<div class="child child5" style="color:rgb(0, 75, 93);">
    {% if user %}
    <h5 class="m-2"><i>User : {{ user['name'] }} </i></h5>
    {% endif %}
</div>

<div class="child child6left">
    <div class="circledivleft">
        <div class="circleleft">
        </div>
    </div>
</div>

<div class="child child6 container" style="color:rgb(0, 75, 93);">
    <ul class="nav nav-tabs nav-fill mb-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('dashboard') }}"
                style=" background-color: #00B8A9;; color:whitesmoke;"> <b>View All Employee </b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style=" background-color: #00B8A9;; color:whitesmoke;"
                href="{{ url_for('addnewemp') }}"> <b>Add
                    New Employee </b></a>
        </li>
    </ul>

    <div class="table-responsive-lg caption-top">
        <caption>
            <h3>ADD NEW EMPLOYEES</h3>
        </caption>
        <hr>
        {% if error %}
        <h2>{{error}}</h2>
        {% else %}
        {% if user %}
        <form class="p-3" action="/addnewemp" method="POST">
            <div class="mb-2">
                <label for="name" class="form-label">Name</label>
                <input type="text" required class="form-control" id="name" name="name">
            </div>
            <div class="mb-2">
                <label for="email" class="form-label">Email</label>
                <input type="email" required class="form-control" id="email" name="email">
            </div>
            <div class="mb-2">
                <label for="phone" class="form-label">Phone</label>
                <input type="number" min="1000000000" max="9999999999" required class="form-control" id="phone" name="phone">
            </div>
            <div class="mb-2">
                <label for="address" class="form-label">Address</label>
                <input type="text" required class="form-control" id="address" name="address">
            </div>
            <button type="submit" class="btn text-light m-3" style="background-color:rgb(0, 75, 93);">Add
                Employee
            </button>
        </form>
    </div>
    {% else %}
    <h1 style="color:red;">Please Login First to Add Employee Details...</h1>
    {% endif %}
    {% endif %}
</div>


<div class="child child6right">
    <div class="circledivright">
        <div class="circleright">
        </div>
    </div>
</div>

{% endblock %}