{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='home.css') }}" type="text/css">
{% endblock %}


{% block body %}
<div class="child child4">
    <h3 class="m-2">Home Page</h3>
</div>

<div class="child child5" style="color:rgb(0, 75, 93);">
    {% if user %}
    <h3 class="m-2"><i>User :  {{ user['name'] }} </i></h3>
    {% endif %}
</div>

<div class="child child6 container">
    <div class="centercontent">
        <div class="textcontent">
            <i>
                {% if max_projects %}
                    <h3 class="m-2"><i>Most Projects Handled: {{ max_projects['name'] }} </i></h3>
                {% endif %}
                {% if max_testcase %}
                    <h3 class="m-2"><i>Most Testcases Added: {{ max_testcase['name'] }} </i></h3>
                {% endif %}
                {% if max_bughunter %}
                    <h3 class="m-2"><i>Greatest Bug Hunter: {{ max_bughunter['name'] }} </i></h3>
                {% endif %}

                <p>Developed by Amit Gupta.</p>
            </i>
        </div>
    </div>
</div>

{% endblock %}